<link rel="stylesheet" href="/stylesheets/main.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-color">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
          <a class="nav-link link-col" href="/">Home</a>
          <a class="nav-link link-col" href="/meals">Meals</a>
        </div>
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if(!currentUser) { %>
          <a class="nav-link link-col" href="/customers/login">Login</a>
          <a class="nav-link link-col" href="/customers/register">Register</a>
          <% } else { %>
          <a class="nav-link link-col" href="/customers/logout">Logout</a>
          <% } %>
        </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success search" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>