<% layout('layouts/boilerplate.ejs') %> 
<%= messages %> 
<h2 class="header">All meals</h2>
<div>
    <h4>Click the link below to create a new set of meal and nutritional information.</h4>
    <a  class="nav-link link-col new-meals" href="/meals/new">Add Meal details</a>
</div>
    <ul>
        <% for(let meal of meals) { %>
            <li class="mylinks"><a class="nav-link link-col meals-links" href="/meals/<%= meal._id %>"><%=meal.firstMeal %></a></li> 
            <% } %>
    </ul>
    