<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Meals</title>
</head>
<body>
    <h2>New Meals</h2>
        <form action="/meals" method="POST">
        <label for="name">firstMeal</label>
        <input type="text" name="firstMeal" id="firstMeal" placeholder="firstMeal">
        <label for="secondMeal">secondMeal</label>
        <input type="text" id="secondMeal" name="secondMeal" placeholder="secondMeal">
        <label for="thirdMeal">thirdMeal</label>
        <input type="text" id="thirdMeal" name="thirdMeal" placeholder="thirdMeal">
        <label for="snacks">snacks</label>
        <input type="text" id="snacks" name="snacks" placeholder="snacks">
        <label for="other">other</label>
        <input type="text" id="other" name="other" placeholder="other">
        <button>Submit</button>
    </form>
</body>
</html>